@import './transitions.css';

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.router-link-active {
font-weight: 500;
color: var(--green-primary);
}

.download-reciept_block.cc-download {
  overflow: visible;
}

.dashboard-container {
    overflow: hidden;
}

.empty.cc-hide,
.table-entry.cc-hide,
.c-pagination.cc-hide {
  display: none;
}
.profile-image {
    background-image: url('@/public/assets/images/user-placeholder-img.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

.insights-block.cc-sm .insights-block_img{
width: 100%;
height: 250px;
}
.insights-block.cc-sm, .insights-block.cc-featured {
  color: var(--green-primary);
}

.insights-block .insights-title{
max-width: 95%;
  font-weight: 400;

}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #fff;
  outline: 0;
}

.insights-block.cc-sm .insights-title{
font-size: 24px;
}

.insights-block.cc-sm .arrow-link,
.insights-block.cc-featured .arrow-link {
    border-bottom-color: var(--green-primary);
    background-image: url('@/public/assets/images/arrow-up-green.svg');
}

.insights-block.cc-featured .insights-block_img{
width: 100%;
height: 610px;
}

.insights-block.cc-featured .insights-block_date{
font-size: 16px;
}

.c-service {
  transition: all 0.5s ease;
}

.c-nav_link,
.c-text_link {
  cursor: pointer;
}
.c-button {
  cursor: pointer;
}



.c-button.cc-hide,
.c-label_wrapper.cc-hide,
.c-input_wrapper.cc-hide {
display: none;
}


.btn-flex.cc-order-popup.cc-align {
  justify-content: space-between;
  padding-left: 6%;
}

.c-button.cc-left-align {
  margin-left: auto;
}

.services-form_block.mt-20 {
  margin-top: 20px;
}
.upload-icon {
  width: 40px;
  height: 40px;
}

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
border: 1px var(--green-primary) dashed;
border-radius: 20px;
background-color: #f8f8f8;
height: 350px;
}
.upload-prompt {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
}

.c-form_field.cc-sm:has(input[type='file']) {
    margin-bottom: 10px;
    position: relative;
}

input[type='file'] {
  color: transparent;
  border-color: transparent;
  padding-left: 28px;
   background-image: url('@/public/assets/images/upload.svg');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    flex: none;
    margin-right: 8px;
    position: relative;
    z-index: 2;
    align-self: center;
}

.c-form_field.cc-sm:has(input[type='file']) {
  position: relative;
}

input[type='file'] + label{
margin-left: 30px;
margin-top: 5px;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

input[type='file']:focus {
  color: transparent;
  border-color: transparent;

}
input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}
/* input[type='file']::before {
  color: #253829;
  display: inline-block;
  padding-bottom: 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
} */



.custom-file-input:active {
  outline: 0;
}
.c-button.cc-download {
  display: flex;
  justify-self: flex-start;
}
.c-button.cc-error {
 background-color: #D11A1A;
}

/* .upload-btn, 
input[type="file"] {
  color: var(--green-primary);
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  display: inline-flex;
} */

.upload-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.browse-link {
  cursor: pointer;
  color: #47654D;
  font-weight: 700;
  font-size: 20px;
}

.username {
  font-size: 12px;
  font-weight: 500;
}

.crop-img_wrapper {
  background-color: transparent;
  height: auto;
  align-items: stretch !important;
 flex-direction: column;
}


.founders-note_block {
      flex-shrink: 1;
      min-width: 47%;
}
.founders-image {
  min-width: 51%;
}



.table-columns {
  margin-bottom: 12px;
}

.c-status {
  justify-self: start;
}

.order-filter, .order-link {
  cursor: pointer;
}

#scrollbar-hide {
-ms-overflow-style: none;  
    scrollbar-width: none; 
}
#scrollbar-hide::-webkit-scrollbar { 
    display: none;  
}

.c-popup_inner.cc-reset {
    min-height: 900px;
    height: 100vh;
    margin: 0 auto;
    max-width: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    }

@media screen and (max-width: 991px) {
.insights-block.cc-featured .insights-block_img{
height: 450px;
}

.insights-block.cc-sm .insights-block_img{
height: 200px;
}

.insights-block.cc-sm .insights-title{
font-size: 20px;
}
}


@media screen and (max-width: 767px) {
.insights-block.cc-sm .insights-title{
font-size: 18px;
}
.upload-area {
border-radius: 15px;
}
.table-entry.cc-show {
display: flex;
padding-bottom: 12px;
margin-bottom: 12px;
border-bottom: 1px solid #f5eed7;
}

.table-entry:last-child {
border-bottom: none;
padding-bottom: 0;
}

.c-popup_inner.cc-reset {
    min-height: 700px;
    max-width: 600px;
    width: 80%;
    }
}

@media screen and (max-width: 568px) {
.insights-block.cc-featured .insights-block_img{
height: 350px;
}
.insights-block.cc-sm .insights-title{
font-size: 16px;
}

.c-popup_inner.cc-reset {
    min-height: 600px;
    max-width: 400px;
    width: 90%;
    }
}